.wrapper {
  position: fixed;
  display: flex;
  width :  80%;
  max-width: 250px;
}

.wrapper a {
  cursor: pointer;
  border: 1px white;
  width: 20%;
}

.wrapper .facebook {
  background-color: white;
}

.wrapper  .twitter {
  background-color: white;
}

.wrapper .telegram {
  background-color: white;
}

.wrapper .whatsapp {
  background-color: white;
}

.wrapper .copyurl {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
}
