<div class="wrapper" [style.margin-top.px]="getTopOffset()" [style.margin-left.px]="getLeftOffset()">
  <a class="facebook" [href]="getFacebookUrl()" target="_blank">
    <img src="assets/facebook.png" width="100%"/>
  </a>
  <a class="twitter" [href]="getTwitterUrl()" target="_blank">
    <img src="assets/Twitter.png" width="100%"/>
  </a>
  <a class="telegram" [href]="getTelegramUrl()" target="_blank">
    <img src="assets/telegram.png" width="100%"/>
  </a>
  <a class="whatsapp" [href]="getWhatsappUrl()" target="_blank">
    <img src="assets/WhatsApp_Logo_2.png" width="100%"/>
    <!--      <div class="whatsapp">WhatsApp</div>-->
  </a>
  <div class="copyurl" (click)="getCopyUrl()">
    <img src="assets/copyURL.png" width="100%"/>
  </div>
</div>
