.wrapper {
  position: fixed;
  display: flex;
}

.facebook {
  cursor: pointer;
  background-color: white;
  border: 1px white;
  width: 5%;
}

.twitter {
  cursor: pointer;
  background-color: white;
  border: 1px white;
  width: 5%;
}

.telegram {
  cursor: pointer;
  background-color: white;
  border: 1px white;
  width: 5%;
}

.whatsapp {
  cursor: pointer;
  background-color: white;
  border: 1px white;
  width: 5%;
}

.copyurl {
  cursor: pointer;
  border: 1px white;
  width: 5%;
}
