<div class="wrapper" [style.top.px]="getTopOffset()" [style.left.px]="getLeftOffset()">
  <a class="facebook" [href]="getFacebookUrl()" target="_blank">
    <img src="assets/facebook.png" width="100%"/>
  </a>
  <a class="twitter" [href]="getTwitterUrl()" target="_blank">
    <img src="assets/twitter.png" width="100%"/>
  </a>
  <a class="whatsapp" [href]="getWhatsappUrl()" target="_blank">
    <img src="assets/whatsapp.png" width="100%"/>
  </a>
  <a class="telegram" [href]="getTelegramUrl()" target="_blank">
    <img src="assets/telegram.png" width="100%"/>
  </a>
  <a class="copyurl" (click)="getCopyUrl()" target="_blank">
    <img src="assets/copyUrl.png" width="100%"/>
  </a>
</div>
